[submodule "6502"]
	path = 6502
	url = https://github.com/PSML/6502.git
[submodule "asc"]
	path = asc
	url = git@github.com:PSML/asc.git
[submodule "datasources/6502"]
	path = datasources/6502
	url = https://github.com/PSML/6502.git
[submodule "datasources/asc"]
	path = datasources/asc
	url = git@github.com:PSML/asc.git
[submodule "datasources/compress"]
	path = datasources/compress
	url = git@github.com:PSML/compress.git
