Tmp files.
*~

Backup files.
\#*

#Dir for expanded bmps
data/forcountbmps
data/recCountbmps
data
forCountpngs/
recCountpngs/
bmps
*.bmp
*.png
myscript.sh.*

#process
outputTestTable
outputTrainTable

#net
the_mlp_net
trained_mlp_net
