[submodule "6502"]
	path = 6502
	url = https://github.com/PSML/6502.git
[submodule "compress"]
	path = compress
	url = https://github.com/PSML/compress.git
[submodule "asc"]
	path = asc
	url = git@github.com:PSML/asc.git
